{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Lucas Daniel</title>
	<link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					 <img id="profile-pic" src="{% static 'images/lucas2.jpg'%}" > 
					<hr>
					<h4>Hi I'm Lucas!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>In the begining of 2022 i started in a intership for four months.</p>

					<p>I had an amazing experience working in a company from ireland, i developed a lot myself using database, creating backend of a web application and building api's.</p>

					<p>I am ready to learn new technologies and have new challenges.</p>

					<ul class="social-links">
						<!-- <a href="https://www.linkedin.com/in/lucas-daniel-3494b5191/" target="_blank"><li><img class="social" src="{% static 'images/linkedin.png' %}"></li></a> -->
                        <a href="https://www.linkedin.com/in/lucas-daniel-3494b5191/" target="_blank"> <i class="bi bi-linkedin"></i> LinkedIn</a>
                        <a href="https://github.com/programmer105?tab=repositories" target="_blank"> <i class="bi bi-github"></i> Github</a>
					</ul>
                  

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Full stack developer.</p>
					<p>I started studying programming 3 years ago in college, since
                        2020 nowadays i implement my knowledges and i'm always
                        improving my skills.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Html, Css, Django, Flask, ApiRest, Mysql
                        and Bootstrap.</p>
					<!-- <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p> -->
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html> 